<a href="https://colab.research.google.com/github/estefanabermeo/ValoresNulos/blob/main/A2_2_GastosCostos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Gatos y Costos 20-23**

**EQUIPO 10:**

* Estefana Bermeo Severiano - A01367558
* Miguel Saúl Fernández Ávalos - A01707491
* Mariel Quetzali Fernández Montes - A0170779
* Christian Jesús Soto-Vieyra Gil - A01707759

In [ ]:
#Importamos librerías requeridas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
#Cargar archivo csv desde equipo
#from google.colab import files
#files.upload()

In [ ]:
#Carga desde un archivo .xlsx sin indice
gastos = pd.read_excel("gastos20-23.xlsx",sheet_name= "2020")
gastos21 = pd.read_excel("gastos20-23.xlsx",sheet_name= "2021")
gastos22 = pd.read_excel("gastos20-23.xlsx",sheet_name= "2022")
gastos23 = pd.read_excel("gastos20-23.xlsx",sheet_name= "2023")

In [ ]:
display(gastos.info(),
gastos21.info(),
gastos22.info(),
gastos23.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3342 entries, 0 to 3341
Data columns (total 19 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   FECHA        3342 non-null   datetime64[ns]
 1   FOLIO        3153 non-null   object
 2   UUID         3342 non-null   object
 3   RFC          3342 non-null   object
 4   PROVEEDOR    3342 non-null   object
 5   TIPO GASTO   3342 non-null   object
 6   GASTO        840 non-null    object
 7   DESCRIPCION  3342 non-null   object
 8   TC           2951 non-null   float64
 9   IMPORTE      3308 non-null   float64
 10  IVA          3074 non-null   float64
 11  RET ISR      3342 non-null   float64
 12  RET IVA      3342 non-null   float64
 13  TOTAL MX     3342 non-null   float64
 14  TOTAL SAT    3342 non-null   float64
 15  TIPO         3341 non-null   object
 16  STATUS       3342 non-null   object
 17  POLIZA       21 non-null     object
 18  Unnamed: 18  3342 non-null   float64
dtypes: datetime64[ns](1), float64(8), object(10)
memory usage: 496.2+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3035 entries, 0 to 3034
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   FECHA        3035 non-null   datetime64[ns]
 1   FOLIO        2888 non-null   object
 2   UUID         3035 non-null   object
 3   RFC          3035 non-null   object
 4   PROVEEDOR    3035 non-null   object
 5   TIPO GASTO   3035 non-null   object
 6   DESCRIPCION  3035 non-null   object
 7   MP           2381 non-null   object
 8   TC           3035 non-null   float64
 9   IMPORTE      3035 non-null   float64
 10  IVA          3035 non-null   float64
 11  RET ISR      3035 non-null   float64
 12  RET IVA      3035 non-null   float64
 13  TOTAL MX     3035 non-null   float64
 14  TOTAL SAT    3035 non-null   float64
 15  TIPO         3035 non-null   object
 16  STATUS       3035 non-null   object
 17  POLIZA       663 non-null    object
dtypes: datetime64[ns](1), float64(7), object(10)
memory usage: 426.9+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2577 entries, 0 to 2576
Data columns (total 19 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Fecha        2577 non-null   datetime64[ns]
 1   Folio        2475 non-null   object
 2   UUID         2577 non-null   object
 3   RFC          2577 non-null   object
 4   Proveedor    2577 non-null   object
 5   TIPO GASTO   2577 non-null   object
 6   Descripción  2577 non-null   object
 7   MP           2024 non-null   object
 8   TC           1941 non-null   float64
 9   Importe      2577 non-null   float64
 10  IVA          2577 non-null   float64
 11  RET ISR      2577 non-null   float64
 12  RET IVA      2577 non-null   float64
 13  Otros        0 non-null      float64
 14  TOTAL MX     2577 non-null   float64
 15  TOTAL SAT    2577 non-null   float64
 16  Tipo         2577 non-null   object
 17  Status       2577 non-null   object
 18  Poliza       1776 non-null   object
dtypes: datetime64[ns](1), float64(8), object(10)
memory usage: 382.6+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 397 entries, 0 to 396
Data columns (total 20 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Fecha        397 non-null    datetime64[ns]
 1   Folio        384 non-null    object
 2   UUID         397 non-null    object
 3   RFC          397 non-null    object
 4   Proveedor    397 non-null    object
 5   TIPO GASTO   389 non-null    object
 6   Descripción  397 non-null    object
 7   MP           326 non-null    object
 8   FP           326 non-null    float64
 9   TC           397 non-null    float64
 10  Importe      397 non-null    float64
 11  IVA          397 non-null    float64
 12  RET ISR      397 non-null    float64
 13  RET IVA      397 non-null    float64
 14  Otros        0 non-null      float64
 15  TOTAL MX     397 non-null    float64
 16  TOTAL SAT    397 non-null    float64
 17  Tipo         397 non-null    object
 18  Status       397 non-null    object
 19  Poliza       282 non-null    object
dtypes: datetime64[ns](1), float64(9), object(10)
memory usage: 62.2+ KB

None

None

None

None

In [ ]:
gastos = gastos.dropna(how = 'all',axis = 1)
gastos21 = gastos21.dropna(how = 'all',axis = 1)
gastos22 = gastos22.dropna(how = 'all',axis = 1)
gastos23 = gastos23.dropna(how = 'all',axis = 1)

display(gastos.info(),
gastos21.info(),
gastos22.info(),
gastos23.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3342 entries, 0 to 3341
Data columns (total 19 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   FECHA        3342 non-null   datetime64[ns]
 1   FOLIO        3153 non-null   object
 2   UUID         3342 non-null   object
 3   RFC          3342 non-null   object
 4   PROVEEDOR    3342 non-null   object
 5   TIPO GASTO   3342 non-null   object
 6   GASTO        840 non-null    object
 7   DESCRIPCION  3342 non-null   object
 8   TC           2951 non-null   float64
 9   IMPORTE      3308 non-null   float64
 10  IVA          3074 non-null   float64
 11  RET ISR      3342 non-null   float64
 12  RET IVA      3342 non-null   float64
 13  TOTAL MX     3342 non-null   float64
 14  TOTAL SAT    3342 non-null   float64
 15  TIPO         3341 non-null   object
 16  STATUS       3342 non-null   object
 17  POLIZA       21 non-null     object
 18  Unnamed: 18  3342 non-null   float64
dtypes: datetime64[ns](1), float64(8), object(10)
memory usage: 496.2+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3035 entries, 0 to 3034
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   FECHA        3035 non-null   datetime64[ns]
 1   FOLIO        2888 non-null   object
 2   UUID         3035 non-null   object
 3   RFC          3035 non-null   object
 4   PROVEEDOR    3035 non-null   object
 5   TIPO GASTO   3035 non-null   object
 6   DESCRIPCION  3035 non-null   object
 7   MP           2381 non-null   object
 8   TC           3035 non-null   float64
 9   IMPORTE      3035 non-null   float64
 10  IVA          3035 non-null   float64
 11  RET ISR      3035 non-null   float64
 12  RET IVA      3035 non-null   float64
 13  TOTAL MX     3035 non-null   float64
 14  TOTAL SAT    3035 non-null   float64
 15  TIPO         3035 non-null   object
 16  STATUS       3035 non-null   object
 17  POLIZA       663 non-null    object
dtypes: datetime64[ns](1), float64(7), object(10)
memory usage: 426.9+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2577 entries, 0 to 2576
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Fecha        2577 non-null   datetime64[ns]
 1   Folio        2475 non-null   object
 2   UUID         2577 non-null   object
 3   RFC          2577 non-null   object
 4   Proveedor    2577 non-null   object
 5   TIPO GASTO   2577 non-null   object
 6   Descripción  2577 non-null   object
 7   MP           2024 non-null   object
 8   TC           1941 non-null   float64
 9   Importe      2577 non-null   float64
 10  IVA          2577 non-null   float64
 11  RET ISR      2577 non-null   float64
 12  RET IVA      2577 non-null   float64
 13  TOTAL MX     2577 non-null   float64
 14  TOTAL SAT    2577 non-null   float64
 15  Tipo         2577 non-null   object
 16  Status       2577 non-null   object
 17  Poliza       1776 non-null   object
dtypes: datetime64[ns](1), float64(7), object(10)
memory usage: 362.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 397 entries, 0 to 396
Data columns (total 19 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Fecha        397 non-null    datetime64[ns]
 1   Folio        384 non-null    object
 2   UUID         397 non-null    object
 3   RFC          397 non-null    object
 4   Proveedor    397 non-null    object
 5   TIPO GASTO   389 non-null    object
 6   Descripción  397 non-null    object
 7   MP           326 non-null    object
 8   FP           326 non-null    float64
 9   TC           397 non-null    float64
 10  Importe      397 non-null    float64
 11  IVA          397 non-null    float64
 12  RET ISR      397 non-null    float64
 13  RET IVA      397 non-null    float64
 14  TOTAL MX     397 non-null    float64
 15  TOTAL SAT    397 non-null    float64
 16  Tipo         397 non-null    object
 17  Status       397 non-null    object
 18  Poliza       282 non-null    object
dtypes: datetime64[ns](1), float64(8), object(10)
memory usage: 59.1+ KB

None

None

None

None

In [ ]:
gastos = gastos.drop('STATUS',axis=1)
gastos21 = gastos21.drop('STATUS',axis=1)
gastos22 = gastos22.drop('Status',axis=1)
gastos23 = gastos23.drop('Status',axis=1)

display(gastos.info(),
gastos21.info(),
gastos22.info(),
gastos23.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3342 entries, 0 to 3341
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   FECHA        3342 non-null   datetime64[ns]
 1   FOLIO        3153 non-null   object
 2   UUID         3342 non-null   object
 3   RFC          3342 non-null   object
 4   PROVEEDOR    3342 non-null   object
 5   TIPO GASTO   3342 non-null   object
 6   GASTO        840 non-null    object
 7   DESCRIPCION  3342 non-null   object
 8   TC           2951 non-null   float64
 9   IMPORTE      3308 non-null   float64
 10  IVA          3074 non-null   float64
 11  RET ISR      3342 non-null   float64
 12  RET IVA      3342 non-null   float64
 13  TOTAL MX     3342 non-null   float64
 14  TOTAL SAT    3342 non-null   float64
 15  TIPO         3341 non-null   object
 16  POLIZA       21 non-null     object
 17  Unnamed: 18  3342 non-null   float64
dtypes: datetime64[ns](1), float64(8), object(9)
memory usage: 470.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3035 entries, 0 to 3034
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   FECHA        3035 non-null   datetime64[ns]
 1   FOLIO        2888 non-null   object
 2   UUID         3035 non-null   object
 3   RFC          3035 non-null   object
 4   PROVEEDOR    3035 non-null   object
 5   TIPO GASTO   3035 non-null   object
 6   DESCRIPCION  3035 non-null   object
 7   MP           2381 non-null   object
 8   TC           3035 non-null   float64
 9   IMPORTE      3035 non-null   float64
 10  IVA          3035 non-null   float64
 11  RET ISR      3035 non-null   float64
 12  RET IVA      3035 non-null   float64
 13  TOTAL MX     3035 non-null   float64
 14  TOTAL SAT    3035 non-null   float64
 15  TIPO         3035 non-null   object
 16  POLIZA       663 non-null    object
dtypes: datetime64[ns](1), float64(7), object(9)
memory usage: 403.2+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2577 entries, 0 to 2576
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Fecha        2577 non-null   datetime64[ns]
 1   Folio        2475 non-null   object
 2   UUID         2577 non-null   object
 3   RFC          2577 non-null   object
 4   Proveedor    2577 non-null   object
 5   TIPO GASTO   2577 non-null   object
 6   Descripción  2577 non-null   object
 7   MP           2024 non-null   object
 8   TC           1941 non-null   float64
 9   Importe      2577 non-null   float64
 10  IVA          2577 non-null   float64
 11  RET ISR      2577 non-null   float64
 12  RET IVA      2577 non-null   float64
 13  TOTAL MX     2577 non-null   float64
 14  TOTAL SAT    2577 non-null   float64
 15  Tipo         2577 non-null   object
 16  Poliza       1776 non-null   object
dtypes: datetime64[ns](1), float64(7), object(9)
memory usage: 342.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 397 entries, 0 to 396
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Fecha        397 non-null    datetime64[ns]
 1   Folio        384 non-null    object
 2   UUID         397 non-null    object
 3   RFC          397 non-null    object
 4   Proveedor    397 non-null    object
 5   TIPO GASTO   389 non-null    object
 6   Descripción  397 non-null    object
 7   MP           326 non-null    object
 8   FP           326 non-null    float64
 9   TC           397 non-null    float64
 10  Importe      397 non-null    float64
 11  IVA          397 non-null    float64
 12  RET ISR      397 non-null    float64
 13  RET IVA      397 non-null    float64
 14  TOTAL MX     397 non-null    float64
 15  TOTAL SAT    397 non-null    float64
 16  Tipo         397 non-null    object
 17  Poliza       282 non-null    object
dtypes: datetime64[ns](1), float64(8), object(9)
memory usage: 56.0+ KB

None

None

None

None

In [ ]:
gastos = gastos.dropna(how = 'all',axis = 0)
gastos21 = gastos21.dropna(how = 'all',axis = 0)
gastos22 = gastos22.dropna(how = 'all',axis = 0)
gastos23 = gastos23.dropna(how = 'all',axis = 0)

display(gastos.info(),
gastos21.info(),
gastos22.info(),
gastos23.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3342 entries, 0 to 3341
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   FECHA        3342 non-null   datetime64[ns]
 1   FOLIO        3153 non-null   object
 2   UUID         3342 non-null   object
 3   RFC          3342 non-null   object
 4   PROVEEDOR    3342 non-null   object
 5   TIPO GASTO   3342 non-null   object
 6   GASTO        840 non-null    object
 7   DESCRIPCION  3342 non-null   object
 8   TC           2951 non-null   float64
 9   IMPORTE      3308 non-null   float64
 10  IVA          3074 non-null   float64
 11  RET ISR      3342 non-null   float64
 12  RET IVA      3342 non-null   float64
 13  TOTAL MX     3342 non-null   float64
 14  TOTAL SAT    3342 non-null   float64
 15  TIPO         3341 non-null   object
 16  POLIZA       21 non-null     object
 17  Unnamed: 18  3342 non-null   float64
dtypes: datetime64[ns](1), float64(8), object(9)
memory usage: 470.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3035 entries, 0 to 3034
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   FECHA        3035 non-null   datetime64[ns]
 1   FOLIO        2888 non-null   object
 2   UUID         3035 non-null   object
 3   RFC          3035 non-null   object
 4   PROVEEDOR    3035 non-null   object
 5   TIPO GASTO   3035 non-null   object
 6   DESCRIPCION  3035 non-null   object
 7   MP           2381 non-null   object
 8   TC           3035 non-null   float64
 9   IMPORTE      3035 non-null   float64
 10  IVA          3035 non-null   float64
 11  RET ISR      3035 non-null   float64
 12  RET IVA      3035 non-null   float64
 13  TOTAL MX     3035 non-null   float64
 14  TOTAL SAT    3035 non-null   float64
 15  TIPO         3035 non-null   object
 16  POLIZA       663 non-null    object
dtypes: datetime64[ns](1), float64(7), object(9)
memory usage: 403.2+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2577 entries, 0 to 2576
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Fecha        2577 non-null   datetime64[ns]
 1   Folio        2475 non-null   object
 2   UUID         2577 non-null   object
 3   RFC          2577 non-null   object
 4   Proveedor    2577 non-null   object
 5   TIPO GASTO   2577 non-null   object
 6   Descripción  2577 non-null   object
 7   MP           2024 non-null   object
 8   TC           1941 non-null   float64
 9   Importe      2577 non-null   float64
 10  IVA          2577 non-null   float64
 11  RET ISR      2577 non-null   float64
 12  RET IVA      2577 non-null   float64
 13  TOTAL MX     2577 non-null   float64
 14  TOTAL SAT    2577 non-null   float64
 15  Tipo         2577 non-null   object
 16  Poliza       1776 non-null   object
dtypes: datetime64[ns](1), float64(7), object(9)
memory usage: 342.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 397 entries, 0 to 396
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Fecha        397 non-null    datetime64[ns]
 1   Folio        384 non-null    object
 2   UUID         397 non-null    object
 3   RFC          397 non-null    object
 4   Proveedor    397 non-null    object
 5   TIPO GASTO   389 non-null    object
 6   Descripción  397 non-null    object
 7   MP           326 non-null    object
 8   FP           326 non-null    float64
 9   TC           397 non-null    float64
 10  Importe      397 non-null    float64
 11  IVA          397 non-null    float64
 12  RET ISR      397 non-null    float64
 13  RET IVA      397 non-null    float64
 14  TOTAL MX     397 non-null    float64
 15  TOTAL SAT    397 non-null    float64
 16  Tipo         397 non-null    object
 17  Poliza       282 non-null    object
dtypes: datetime64[ns](1), float64(8), object(9)
memory usage: 56.0+ KB

None

None

None

None

In [ ]:
gastos = gastos.drop_duplicates(subset = 'FOLIO')
gastos21 = gastos21.drop_duplicates(subset = 'FOLIO')
gastos22 = gastos22.drop_duplicates(subset = 'Folio')
gastos23 = gastos23.drop_duplicates(subset = 'Folio')

display(gastos.info(),
gastos21.info(),
gastos22.info(),
gastos23.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2976 entries, 0 to 3341
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   FECHA        2976 non-null   datetime64[ns]
 1   FOLIO        2975 non-null   object
 2   UUID         2976 non-null   object
 3   RFC          2976 non-null   object
 4   PROVEEDOR    2976 non-null   object
 5   TIPO GASTO   2976 non-null   object
 6   GASTO        720 non-null    object
 7   DESCRIPCION  2976 non-null   object
 8   TC           2637 non-null   float64
 9   IMPORTE      2942 non-null   float64
 10  IVA          2753 non-null   float64
 11  RET ISR      2976 non-null   float64
 12  RET IVA      2976 non-null   float64
 13  TOTAL MX     2976 non-null   float64
 14  TOTAL SAT    2976 non-null   float64
 15  TIPO         2975 non-null   object
 16  POLIZA       20 non-null     object
 17  Unnamed: 18  2976 non-null   float64
dtypes: datetime64[ns](1), float64(8), object(9)
memory usage: 441.8+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2681 entries, 0 to 3034
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   FECHA        2681 non-null   datetime64[ns]
 1   FOLIO        2680 non-null   object
 2   UUID         2681 non-null   object
 3   RFC          2681 non-null   object
 4   PROVEEDOR    2681 non-null   object
 5   TIPO GASTO   2681 non-null   object
 6   DESCRIPCION  2681 non-null   object
 7   MP           2128 non-null   object
 8   TC           2681 non-null   float64
 9   IMPORTE      2681 non-null   float64
 10  IVA          2681 non-null   float64
 11  RET ISR      2681 non-null   float64
 12  RET IVA      2681 non-null   float64
 13  TOTAL MX     2681 non-null   float64
 14  TOTAL SAT    2681 non-null   float64
 15  TIPO         2681 non-null   object
 16  POLIZA       599 non-null    object
dtypes: datetime64[ns](1), float64(7), object(9)
memory usage: 377.0+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2341 entries, 0 to 2572
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Fecha        2341 non-null   datetime64[ns]
 1   Folio        2340 non-null   object
 2   UUID         2341 non-null   object
 3   RFC          2341 non-null   object
 4   Proveedor    2341 non-null   object
 5   TIPO GASTO   2341 non-null   object
 6   Descripción  2341 non-null   object
 7   MP           1859 non-null   object
 8   TC           1765 non-null   float64
 9   Importe      2341 non-null   float64
 10  IVA          2341 non-null   float64
 11  RET ISR      2341 non-null   float64
 12  RET IVA      2341 non-null   float64
 13  TOTAL MX     2341 non-null   float64
 14  TOTAL SAT    2341 non-null   float64
 15  Tipo         2341 non-null   object
 16  Poliza       1654 non-null   object
dtypes: datetime64[ns](1), float64(7), object(9)
memory usage: 329.2+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 379 entries, 0 to 396
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Fecha        379 non-null    datetime64[ns]
 1   Folio        378 non-null    object
 2   UUID         379 non-null    object
 3   RFC          379 non-null    object
 4   Proveedor    379 non-null    object
 5   TIPO GASTO   372 non-null    object
 6   Descripción  379 non-null    object
 7   MP           312 non-null    object
 8   FP           312 non-null    float64
 9   TC           379 non-null    float64
 10  Importe      379 non-null    float64
 11  IVA          379 non-null    float64
 12  RET ISR      379 non-null    float64
 13  RET IVA      379 non-null    float64
 14  TOTAL MX     379 non-null    float64
 15  TOTAL SAT    379 non-null    float64
 16  Tipo         379 non-null    object
 17  Poliza       275 non-null    object
dtypes: datetime64[ns](1), float64(8), object(9)
memory usage: 56.3+ KB

None

None

None

None

### Métodos de Sustitución de Valores Nulos

In [ ]:
#Columnas no numéricas
gastos['FOLIO'] = gastos['FOLIO'].fillna('Checar')
gastos['TIPO GASTO'] = gastos['TIPO GASTO'].fillna('Checar')
gastos['GASTO'] = gastos['GASTO'].fillna('Checar')
gastos['POLIZA'] = gastos['POLIZA'].fillna('Checar')
gastos['TIPO'] = gastos['TIPO'].fillna(method='bfill')

#Columnas numéricas
gastos['TC']=gastos['TC'].fillna(round(gastos['TC'].median(),2))
gastos['IMPORTE']=gastos['IMPORTE'].fillna(round(gastos['IMPORTE'].median(),2))
gastos['IVA']=gastos['IVA'].fillna(round(gastos['IVA'].median(),2))

gastos.isnull().sum()

FECHA          0
FOLIO          0
UUID           0
RFC            0
PROVEEDOR      0
TIPO GASTO     0
GASTO          0
DESCRIPCION    0
TC             0
IMPORTE        0
IVA            0
RET ISR        0
RET IVA        0
TOTAL MX       0
TOTAL SAT      0
TIPO           0
POLIZA         0
Unnamed: 18    0
dtype: int64

In [ ]:
gastos21['FOLIO'] = gastos21['FOLIO'].fillna('Checar')
gastos21['TIPO GASTO'] = gastos21['TIPO GASTO'].fillna('Checar')
gastos21['MP'] = gastos21['MP'].fillna('Checar')
gastos21['POLIZA'] = gastos21['POLIZA'].fillna('Checar')

gastos21.isnull().sum()

FECHA          0
FOLIO          0
UUID           0
RFC            0
PROVEEDOR      0
TIPO GASTO     0
DESCRIPCION    0
MP             0
TC             0
IMPORTE        0
IVA            0
RET ISR        0
RET IVA        0
TOTAL MX       0
TOTAL SAT      0
TIPO           0
POLIZA         0
dtype: int64

In [ ]:
gastos22['Folio'] = gastos22['Folio'].fillna('Checar')
gastos22['TIPO GASTO'] = gastos22['TIPO GASTO'].fillna('Checar')
gastos22['MP'] = gastos22['MP'].fillna('Checar')
gastos22['Poliza'] = gastos22['Poliza'].fillna('Checar')
gastos22['TC']=gastos22['TC'].fillna(round(gastos22['TC'].median(),2))

gastos22.isnull().sum()

Fecha          0
Folio          0
UUID           0
RFC            0
Proveedor      0
TIPO GASTO     0
Descripción    0
MP             0
TC             0
Importe        0
IVA            0
RET ISR        0
RET IVA        0
TOTAL MX       0
TOTAL SAT      0
Tipo           0
Poliza         0
dtype: int64

In [ ]:
gastos23['Folio'] = gastos23['Folio'].fillna('Checar')
gastos23['TIPO GASTO'] = gastos23['TIPO GASTO'].fillna('Checar')
gastos23['MP'] = gastos23['MP'].fillna('Checar')
gastos23['FP'] = gastos23['FP'].fillna('Checar')
gastos23['Poliza'] = gastos23['Poliza'].fillna('Checar')

gastos23.isnull().sum()

Fecha          0
Folio          0
UUID           0
RFC            0
Proveedor      0
TIPO GASTO     0
Descripción    0
MP             0
FP             0
TC             0
Importe        0
IVA            0
RET ISR        0
RET IVA        0
TOTAL MX       0
TOTAL SAT      0
Tipo           0
Poliza         0
dtype: int64

In [ ]:
gastos.to_excel('gastos_sin_nas.xlsx')
gastos21.to_excel('gastos21_sin_nas.xlsx')
gastos22.to_excel('gastos22_sin_nas.xlsx')
gastos23.to_excel('gastos23_sin_nas.xlsx')

from google.colab import files
files.download('gastos_sin_nas.xlsx')
files.download('gastos21_sin_nas.xlsx')
files.download('gastos22_sin_nas.xlsx')
files.download('gastos23_sin_nas.xlsx')