<a href="https://colab.research.google.com/github/estefanabermeo/ValoresNulos/blob/main/A2_2_DetallePreciosProductos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Detalle Precios y Productos Fabricados 2022**
#### Actividad 2.2 - Valores Nulos

**EQUIPO 10:**

* Estefana Bermeo Severiano - A01367558
* Miguel Saúl Fernández Ávalos - A01707491
* Mariel Quetzali Fernández Montes - A0170779
* Christian Jesús Soto-Vieyra Gil - A01707759

In [18]:
#Importamos las librerias pandas, numpy y matplotlib respectivamente
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [19]:
#Carga desde un archivo .xlsx sin indice
precios = pd.read_excel('Detalle precios y productos fabricados 2022.xlsx')
precios.head(5)

,CVE_DOC,FECHA_DOC,NOMBRE_VENDEDOR,NOMBRE_CLIENTE,CANT,CVE_ART,DESCR,PRECIO_UNITARIO,COSTO_UNITARIO,COSTO_UNITARIO_CALCULADO,SUBTOTAL_PARTIDA,COSTO_TOTAL_CALCULADO,MARGEN_UNITARIO_CALCULADO,MARGEN_TOTAL_CALCULADO
0,F37034,2022-01-05,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,1,TUE00244,"TUB COBRE 5/16""ØX165MM CIRCULA1.5KW127V",434.48,52.80,52.80,434.48,52.80,381.68,381.68
1,F37036,2022-01-05,LETICIA RAMIREZ HERNANDEZ,JUAN ANTONIO RESENDIZ UGALDE,1,TUA00028,"TUA U"" 5/16 ØX250MM 1200W 120V TAP1""NPT",1264.05,327.18,327.18,1264.05,327.18,936.87,936.87
2,F37041,2022-01-05,DIEGO ARMANDO LEON DURAN,ANA BARBARA CRUZ PALACIOS,7,TP0007,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 7 MT,551.61,177.68,177.68,3861.29,1243.73,373.94,2617.56
3,F37042,2022-01-05,DIEGO ARMANDO LEON DURAN,OMAR RODRIGUEZ GOMEZ,1,TP0001,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 1 MT,140.00,38.96,38.96,140.00,38.96,101.04,101.04
4,F37043,2022-01-05,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,2,BP00242,BAN P INOX 115MMX235MM 1000W 127V T/TOR,172.41,101.71,101.71,344.83,203.42,70.71,141.41

In [20]:
#Identificar valores nulos por columna
valores_nulos=precios.isnull().sum()
valores_nulos

CVE_DOC                      0
FECHA_DOC                    0
NOMBRE_VENDEDOR              2
NOMBRE_CLIENTE               0
CANT                         0
CVE_ART                      0
DESCR                        0
PRECIO_UNITARIO              0
COSTO_UNITARIO               0
COSTO_UNITARIO_CALCULADO     0
SUBTOTAL_PARTIDA             0
COSTO_TOTAL_CALCULADO        0
MARGEN_UNITARIO_CALCULADO    0
MARGEN_TOTAL_CALCULADO       0
dtype: int64

### **Método de sustitución de valores nulos**

In [21]:
# Para la columna "NOMBRE_VENDEDOR" que tiene 2 valores nulos los sustituimos por la leyenda "Sin registro" ya que no conocemos el nombre de la persona que realizó esa venta
precios["NOMBRE_VENDEDOR"] = precios["NOMBRE_VENDEDOR"].fillna("SIN REGISTRO")

In [22]:
#Corroboramos valores nulos en las columnas
valores_nulos = precios.isnull().sum()
valores_nulos

CVE_DOC                      0
FECHA_DOC                    0
NOMBRE_VENDEDOR              0
NOMBRE_CLIENTE               0
CANT                         0
CVE_ART                      0
DESCR                        0
PRECIO_UNITARIO              0
COSTO_UNITARIO               0
COSTO_UNITARIO_CALCULADO     0
SUBTOTAL_PARTIDA             0
COSTO_TOTAL_CALCULADO        0
MARGEN_UNITARIO_CALCULADO    0
MARGEN_TOTAL_CALCULADO       0
dtype: int64

In [23]:
# Comprobamos que no existan valores nulos en todo el dataframe
valores_nulos = precios.isnull().sum().sum()
valores_nulos

0

In [24]:
#Convertir DataFrame a XLSX
precios.to_excel("Detalle Precios y Productos Fabricados sin Nulos.xlsx")

In [26]:
#Descargar archivo filtrado en csv
from google.colab import files   
files.download("Detalle Precios y Productos Fabricados sin Nulos.xlsx")